<form (submit)="register()">
    <h1>Đăng kí</h1>
    <div class="social-icons">
        <a href="#" class="icon"><i class='bx bxl-facebook'></i></a>
        <a href="#" class="icon"><i class='bx bxl-tiktok'></i></a>
        <a href="#" class="icon"><i class='bx bxs-shopping-bag-alt'></i></a>
        <a href="#" class="icon"><i class='bx bxl-shopify'></i></a>
    </div>
    <span>hoặc sử dụng email của bạn để đăng ký</span>
    <input  name="username" [(ngModel)]="user.username" placeholder="Tên đăng nhập" required />
    <input  name="password" [(ngModel)]="user.password" placeholder="Mật khẩu" required />
    <input  name="email" [(ngModel)]="user.email" placeholder="Email" required />
    <input  name="phone" [(ngModel)]="user.phone" placeholder="Số điện thoại" required />
    <input  name="name" [(ngModel)]="user.name" placeholder="Tên" required />
    <button type="submit">Đăng kí</button>
  </form>
  