form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    float: left;
    margin-top: 15px;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    text-align: center;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.social-icons .icon {
    border: 1px solid #363131;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    width: 40px;
    height: 40px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s;
}

.social-icons .icon:hover {
    background-color: #f0f0f0;
}

span {
    font-size: 14px;
    color: #666;
    margin: 10px 0;
}

input {
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 8px;
    width: 100%;
    outline: none;
    transition: border 0.3s;
}

input:focus {
    border: 2px solid #512da8; 
}

a {
    color: #512da8;
    text-decoration: none;
    margin-top: 10px;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}

button {
    background-color: #E9FDFF;
    color: #282323;
    font-size: 14px;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: cadetblue; /* Darker shade on hover */
}
