<div *ngIf="showModal" class="modal-overlay" (click)="onOverlayClick($event)">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <button class="close-btn" (click)="closeModal()">×</button>
    
    <div *ngIf="product" class="product-detail-container">
      <h2>Chi tiết sản phẩm</h2>
      
      <div class="product-detail">
        <div class="product-image">
          <img [src]="product.avatarProduct" alt="Product Image" />
        </div>
        <div class="product-info">
          <div><strong>Tên sản phẩm:</strong> {{ product.productName }}</div>
          <div><strong>Giá:</strong> {{ product.price |  number:'1.0-0' }} VND </div>
          <div><strong>Số lượng:</strong> {{ product.quantity }}</div>
          <div><strong>Mô tả:</strong> {{ product.description }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
