<div class="background-video">
  <video autoplay muted loop>
      <source src="../assets/imager/istockphoto-1430534853-640_adpp_is.mp4" type="video/mp4">
      Your browser does not support the video tag.
  </video>
</div>
<div class="container" id="container" [class.active]="!showSignIn">
  <app-register *ngIf="!showSignIn"></app-register>
  <app-login *ngIf="showSignIn"></app-login>
  <div class="toggle-container">
    <div class="toggle">
      <div class="toggle-panel toggle-left">
        <h1>Chào mừng trở lại!</h1>
        <p>Nhập thông tin cá nhân của bạn để sử dụng tất cả các tính năng của trang</p>
        <button (click)="toggleForm('login')">Đăng nhập</button>
      </div>
      <div class="toggle-panel toggle-right">
        <h1>Chào bạn, bạn bè!</h1>
        <p>Đăng ký với thông tin cá nhân của bạn để sử dụng tất cả các tính năng của trang</p>
        <button (click)="toggleForm('register')">Đăng ký</button>
      </div>
    </div>
  </div>
</div>
