<div class="product-carousel">
  <!-- Nút Prev -->
  <button class="prev-btn" (click)="move('prev')">&#10094;</button>

  <!-- Danh sách sản phẩm -->
  <ul class="product-list" [ngStyle]="{'transform': 'translateX(' + -currentIndex * 332 + 'px)'}">
    <li class="product-item" *ngFor="let product of visibleProducts">
      <div class="product-card" tabindex="0">
        <figure class="card-banner">
          <div class="icon-container">
            <button class="card-action-btn" aria-labelledby="card-label-1">
              <i class="bx bx-cart"></i>
            </button>
            <div class="card-action-tooltip" id="card-label-1">Add to Cart</div>
          </div>
          <div class="image-container">
            <img src="https://via.placeholder.com/300x350" alt="Product Image" class="image-contain">
          </div>
          
        </figure>
        <div class="card-content">
          <div class="card-cat">
            <a href="#" class="card-cat-link">Men</a> /
            <a href="#" class="card-cat-link">Women</a>
          </div>
          <h3 class="h3 card-title">
            <a href="#">{{ product.name }}</a>
          </h3>
          <data class="card-price" value="180.85">{{ product.price | currency }}</data>
        </div>
      </div>
    </li>
  </ul>

  <!-- Nút Next -->
  <button class="next-btn" (click)="move('next')">&#10095;</button>
</div>



