<div *ngIf="showModal" class="modal-overlay"(click)="onOverlayClick($event)">
    <div class="modal-content">
        <button class="close-btn" (click)="closeModal()">×</button>
<div class="carte"> 
    <h1>Thêm sản phẩm mới</h1>
    <div class="container">
        <form (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-sm-5">
                    <div class="image-upload">
                        <img id="productImage" src="" alt="Ảnh Sản Phẩm" style="display: none;">
                        <i class='bx bx-image' id="defaultIcon" style="font-size: 50px; color: var(--grey); margin-bottom: 10px;"></i>
                        <label for="fileInput">Chọn Ảnh</label>
                        <input type="file" id="fileInput" accept="image/*" (change)="previewImage($event)" style="display:none;">
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="co-1">
                        <label for="productName">Tên Sản Phẩm</label>
                        <input type="text" [(ngModel)]="product.productName" id="productName" class="form-control" placeholder="Nhập tên sản phẩm">
                    </div>
                    <div class="co-1">
                        <label for="category">Danh Mục</label>
                        <select [(ngModel)]="product.category" id="category" class="form-select">
                            <option value="chuột">Chuột</option>
                            <option value="bàn phím">Bàn Phím</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="price">Price </label>
                    <input type="number" [(ngModel)]="product.price" id="quantity" class="form-control" placeholder="Nhập price">
                </div>
                <div class="col">
                    <label for="quantity">Quantity </label>
                    <input type="number" [(ngModel)]="product.quantity" id="quantity" class="form-control" placeholder="Nhập quantity">
                </div>
                <div class="col">
                    <label for="size">Size</label>
                    <select [(ngModel)]="product.size" id="size" class="form-select">
                        <option value="S">S</option>
                        <option value="M">M</option>
                        <option value="L">L</option>
                    </select>
                </div>
            </div>
            
            <div class="row">
                <div class="col">
                    <label for="view">View </label>
                    <input type="number" [(ngModel)]="product.view" id="quantity" class="form-control" placeholder="Nhập view">
                </div>
                <div class="col">
                    <label for="weight ">Weight  </label>
                    <input type="number" [(ngModel)]="product.weight" id="quantity" class="form-control" placeholder="Nhập weight">
                </div>
                <div class="col">
                    <label for="led">LED</label>
                    <select [(ngModel)]="product.view" id="led" class="form-select">
                        <option value="Có">Có</option>
                        <option value="Không">Không</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="batteryCapacity">BatteryCapacity </label>
                    <input type="number" [(ngModel)]="product.batteryCapacity" id="quantity" class="form-control" placeholder="Nhập batteryCapacity">
                </div>
                <div class="col">
                    <label for="category ">Category  </label>
                    <input type="number" [(ngModel)]="product.category" id="quantity" class="form-control" placeholder="Nhập category">
                </div>
            </div>
            <div class="form-group">
                <label for="description">Mô Tả</label>
                <textarea [(ngModel)]="product.description" id="description" class="form-control" rows="4" placeholder="Nhập mô tả sản phẩm"></textarea>
            </div>
            <div class="button-container">
                <button type="submit" class="btn btn-primary" (click)="onSubmit()"><i class='bx bxs-save'></i>Thêm mới sản phẩm</button>
            </div>
            </form>
      </div>      
</div>