<div class="head-title">
    <div class="left">
        <h1>Feedback</h1>
        <ul class="breadcrumb">
            <li><a href="#">Feedback</a></li>
            <li><i class='bx bx-chevron-right'></i></li>
            <li><a class="active" href="#">Phản Hồi Khách Hàng</a></li>
        </ul>
    </div>
</div>

<div class="feedback-container">
    <div id="feedbackList">
        <div *ngFor="let feedback of feedbackData" class="feedback-card">
            <strong>Đánh giá: <span class="star">&#9733;</span>{{ feedback.rating }}</strong>
            <p>{{ feedback.text }}</p>
        </div>
    </div>
</div>
<br>